<div class="container">
  <div class="container text-center" style="margin: 30px; ">
    <h3>Sistema de inventarios</h3>
  </div>

    <table class="table table-striped table-hover  aling-middle">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Descripción de Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Existencias</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos;track producto.idProducto) {
        <tr>
          <th scope="row">{{producto.idProducto}}</th>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.existencia}}</td>
          <td class="text-center">
            <div>
              <button (click)="editarProducto(producto.idProducto)" class="btn  btn-sm me-3" style="background-color: #df2cb1; border-color: #f38cfc">Editar</button>
              <button (click)="eliminarProducto(producto.idProducto)" class="btn  btn-sm me-3" style="background-color: #ff7920; border-color: #fc5f04">Eliminar</button>
            </div>
          </td>
        </tr>
      }
      </tbody>
    </table>
</div>
